Chi-Sqaure-test

In [1]:
#step-1 : creation of the data-table for calculation

import numpy as np
import pandas as pd

data ={ "Level":["Very Satisfied","Satisfied","Neutral","Unsatisfied","Very Unsatisfied"],
        "Smart-thermostat":[50,80,60,30,20],
        "Smart-light":[70,100,90,50,50]
      }

df = pd.DataFrame(data)

df["total"] = df["Smart-thermostat"] + df["Smart-light"]

df

              Level  Smart-thermostat  Smart-light  total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       Unsatisfied                30           50     80
4  Very Unsatisfied                20           50     70

### calculation of total number of customer

In [3]:
#step2 : calculation of total number of customer

total_Sthermo = df["Smart-thermostat"].sum()

total_Slight = df["Smart-light"].sum()

total_customer = df["total"].sum()

print(f"Total-Smart-Thermostat = {total_Sthermo} : Total-Smart-Light = {total_Slight} : Total = {total_customer}")

Total-Smart-Thermostat = 240 : Total-Smart-Light = 360 : Total = 600

###  calculation of Expected Values

In [28]:
# calculation of Expected Values

exp_df  = df.copy()
exp_df["Smart-thermostat"] = (total_Sthermo * exp_df["total"] ) / total_customer
exp_df["Smart-light"] = (total_Slight * exp_df["total"] ) / total_customer

print("Expected Values for the table")
exp_df

Expected Values for the table

              Level  Smart-thermostat  Smart-light  total
0    Very Satisfied              48.0         72.0    120
1         Satisfied              72.0        108.0    180
2           Neutral              60.0         90.0    150
3       Unsatisfied              32.0         48.0     80
4  Very Unsatisfied              28.0         42.0     70

### Calculation of chi-square statistics

In [33]:
# Calculation of chi-square statistics
# chi-stat = [(Observed_value - Expected_value)^2] / Expected_value

chi_df = df.copy()

chi_df["Smart-thermostat"] = ((df['Smart-thermostat']-exp_df['Smart-thermostat'])**2)/exp_df['Smart-thermostat']
chi_df["Smart-light"] = ((df['Smart-light']-exp_df['Smart-light'])**2)/exp_df['Smart-light']



print("The Chi-Square value of table")
chi_df

The Chi-Square value of table

              Level  Smart-thermostat  Smart-light  total
0    Very Satisfied          0.083333     0.055556    120
1         Satisfied          0.888889     0.592593    180
2           Neutral          0.000000     0.000000    150
3       Unsatisfied          0.125000     0.083333     80
4  Very Unsatisfied          2.285714     1.523810     70

In [34]:
# Calculation of Chi-Squre statistics

chi_stat = chi_df["Smart-thermostat"].sum() + chi_df["Smart-light"].sum()

print(f"Chi-Square Statistics = {chi_stat}")

Chi-Square Statistics = 5.638227513227513

In [37]:
# degree of Freedom

rows = 5
cols = 2

dof = (rows-1)*(cols-1)

print(f"Degree of Freedom (DOF) = {dof}")

Degree of Freedom (DOF) = 4

### Solution using python scipy library

In [21]:
from scipy.stats import chi2_contingency

dataset = df.iloc[:,1:3]

print(dataset,"\n")

chi_stat , p_value , dof , exp = chi2_contingency(dataset)

print(f"chi_stat value = {chi_stat}")
print(f"p_value = {p_value}")
print(f"dof = {dof}")
print(f"expected values = \n{exp}")

   Smart-thermostat  Smart-light
0                50           70
1                80          100
2                60           90
3                30           50
4                20           50

chi_stat value = 5.638227513227513
p_value = 0.22784371130697179
dof = 4
expected values =
[[ 48.  72.]
 [ 72. 108.]
 [ 60.  90.]
 [ 32.  48.]
 [ 28.  42.]]

In [18]:
# Decision Making

significance_level = 0.05
if (p_value > significance_level):
    print("We don't have enough confidence to reject the null hypothesis")
else:
    print("We can reject null hypothesis")

We don't have enough confidence to reject the null hypothesis